* {
	margin: 0;
	padding: 0;
	font-family: 'Merriweather Sans', sans-serif;
}
h1{
	font-size: 50px;
	margin-top: 10px;
}
h2{
	margin-top: 16px;
}
p{
	margin: 10px 0;
}
body {
	background-color: #ffffff;
	background-size: cover;
}
nav{
	text-align: center;
	background-color: black;
	position: sticky;
	position: -webkit-sticky;
  top: 0;
}
a{
	display: inline-block;
}
a.navlink{
	text-decoration: none;
	font-size: 18px;
	color: white;
	padding: 16px;
	display: inline-block;
	margin-left: -4px;
	transition: color 0.25s, background 0.25s;
}
a.navlink:hover {
	text-decoration: none;
	color: black;
	background-color: white;
}
.button, input[type="submit"]{
	padding: 14px;
	background-color: transparent;
	color: white;
	border: 0;
	text-decoration: none;
	position: relative;
	display: inline-block;
	margin-right:4px;
	margin-bottom: 10px;
	font-size:22px;
	transition: color 0.25s, background 0.25s;
}
.button:hover, input[type="submit"]:hover{
	color: black;
}
.button::before, input[type="submit"]::before{
	content:"";
        top: 0;
        left:0;
	width: 100%;
	height: 100%;
	z-index: -2;
	position: absolute;
	background-color: black;
}
.button::after, input[type="submit"]::after{
	content:"";
	top:0;
	right:0;
	width: 0;
	z-index: -1;
	position: absolute;
	display: block;
	height: 100%;
	background-color: yellow;
	transition: width 0.25s;
}
.button:hover::after, input[type="submit"]:hover::after{
	width: 100% !important;
}
.button.light, input[type="submit"].light{
	color:black !important;
}
.button.light:hover, input[type="submit"].light:hover{
	color:yellow !important;
}
.button.light::before, input[type="submit"].light::before{
	background-color: white !important;
}
.button.light::after, input[type="submit"].light::after{
	background-color: black !important;
}
#titlename {
	text-align: center;
	color: black;
	font-family: 'Merriweather', serif;
	font-variant: small-caps;
	font-size: 100px;
}

#hg{
  width:100%;
	height:700px;
	background-image: url("hg.jpg");
	background-size: 150% 150%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: black;
}
#hgcover{
	background-color: rgba(20,20,20,0.4);
	width: calc(100% - 100px);
    	height: calc(100% - 250px);
	padding-top: 250px;
	padding-left: 100px;
}
#hgcover *{
	color:white;
}
.mt32{
	margin-top: 32px;
}
.mt64{
	margin-top: 64px;
}
.tc{
	text-align:center;
}
img.eimg{
	width:350px;
	margin-right: 20px;
}
article{
	font-size: 18px;
}
article.c{
	padding:0 16px;
}
article.era{
	margin-top: 20px;
	min-height:250px;
	display:flex;
	/*border-bottom: 1px solid #CCC;*/
}
article.era{
	display:flex;
}
article.era h2{
	margin-top: 0;
}
div.erdescription{
	flex-grow: 1;
}
.cma{
	margin:0 auto;
}
#grouptext {
	text-align:center; 
	margin: 15px;
	padding: 10px;
}

input[type=text], input[type=date], input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 18px;
    background-color: #fcfcfc;
    color: #111;
}

/* input[type=submit]{
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
} */

input.tworow{
    width:50%;
}

input.threerow{
    width:33%;
}
/**New Input Code**/

body {font-family: Arial, Helvetica, sans-serif;}

.container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}
        *{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.selectfb{
    height: 50px;
}
.email{
    width: 50%;
    height: 50px;
}
/*End New Input Code*/
.container {
    padding: 20px;
}

h2 > a{
    font-size: 1.5em;
}

article.form{
    padding: 0 75px;
}
.flex-container{
    display: flex;
}
label{
    display: block;
}
.label-input-container{
    flex-grow:1;
}
.label-input-container:not(:last-child){
    margin-right:20px; 
}

.difntime{
	font-size: 18px;
	margin-top: 3px;
}
